<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
<!-- Now We are the Family and  now we are the family and do with and do with the full -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
 <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <link rel="stylesheet" href="./css/owl.carousel.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/main.css">
	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>
</head>
<body>
 <body>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-md-2">
            <img
              src="images/undraw_file_sync_ot38.svg"
              alt="Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                  <h3>Register to <strong>Account?</strong></h3>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet elit. Sapiente sit aut eos
                    consectetur adipisicing.
                  </p>
                </div>
                <div class="form-group">
                  <form id="form1" method="post">
                    <input
                      type="email"
                      name="email"
                      placeholder="E-mail"
                      required=""
                      class="form-control"
                    /><br />
                    <input
                      type="password"
                      name="password"
                      placeholder="Password"
                      required=""
                      class="form-control"
                    /><br />
                    <input
                      type="password"
                      name="passwordConf"
                      placeholder="Confirm Password"
                      required=""
                      class="form-control"
                    /><br />
                    <input
                      type="submit"
                      value="Register"
                      class="btn btn-success"
                    />
                  </form>
                </div>
                <div class="mssg bg-danger">
                  <span id="check"></span>
                </div>
                <div>
                  <span>Already Registered! <a href="/login">Login</a></span>
                </div>
                <div id="LangTable"><a href="/login" id="aa"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</body>
</html>